* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  --principal: #a970ff;
  --principal-text: #505050;
  --second-text: #9c9c9c;
  font-family: sans-serif;
}

body {
  color: var(--principal-text);
  background-color: #a970ff;
}

.main {
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
  height: auto;
  width: 90%;
  border-radius: 25px;
}

.ubicacion-actual{
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 300px;
  background: no-repeat center url(../img/bogota-nocturna.jpg) #6f10a8;
  opacity: 0.9;
  /*background: url('https://i.pinimg.com/originals/ad/3a/44/ad3a44745cc815386e6ce2399fa66904.jpg') #6f10a8;*/
  background-size: 100%;
  border-radius: 25px;

}

.ubicacion-actual > p {
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--principal);
  text-shadow: 3px 5px 10px #fff, -2px -2px 10px #fff;
  font-size: 2rem;
  font-weight: 600;

}

.ubicacion-actual > p > svg {
  width: 18px;
  filter: drop-shadow(0 1px 5px #fff);
}

.ubicacion-actual > img {
  position: absolute;
  width: 50px;
  top: 5%;
  left: 26%;
  transform: rotate(90deg);
  filter: drop-shadow(0 1px 5px #fff);
}

.temperatura-lado-izquierdo {
  position: fixed;
  top: 150px;
  width: 85px;
  background-color: var(--principal);

  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 1px 1px 35px -15px #a7a7a7;
}

.temperatura-lado-izquierdo::after {
  content: '';
  position: absolute;
  display: block;
  border-top: 5px solid var(--principal);
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--principal);
  border-right: 5px solid transparent;
  bottom: -10px;
  left: 0px;
}

.temperatura-lado-izquierdo .estado-clima{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #6f10a8;
  font-weight: 600;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 15px;
}

.temperatura-lado-izquierdo .estado-clima::after {
  content: '';
  position: absolute;
  display: block;
  border-top: 5px solid transparent;
  border-left: 5px solid #6f10a8;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #6f10a8;
  top: -10px;
  left: 0px;
}

.estado-clima > img {
  width: 50px;
}

.temperatura-lado-izquierdo .temperatura{
  display: block;
  padding: 10px;
  color: white;
  
}
.temperatura-lado-izquierdo .temperatura p{
  display: block;
  text-align: center;
  font-size: 1.8rem;

}

.temperatura-lado-izquierdo .temperatura p > span {
  position: relative;
  top: -10px;
  font-size: 1rem;
}

.second-part{
  display: grid;
  justify-items: center;
  grid-template-columns: 3fr 5fr 3fr;
  margin: auto;
  margin-top: 30px;
  width: 88%;
}

.days-ago > h3,
.place-visit .titles h3{
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.days-ago > h3 > span,
.place-visit .titles h3 > span{
  font-weight: 600;
}

.days-ago ul > li {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  height: 70px;
  width: 250px;
  border-radius: 15px;
  border: 1px solid #a7a7a7;
  box-shadow: 1px 1px 35px -15px #a7a7a7;
  transition-duration: 300ms;
  cursor: pointer;
}

.days-ago ul > li:hover {
  transform: scale(1.1);
}

.days-ago ul > li > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 70%;
}

.days-ago ul > li > .day{
  font-size: 1rem;
  font-weight: 600;
}

.days-ago ul > li > .day  p{
  display: flex;
  flex-direction: column;
}

.days-ago ul > li > .day  p > span{
  font-size: .8rem;
  color: var(--second-text);
}

.days-ago ul > li > .day > img{
  margin-right: 15px;
  width: 40px;


}

.days-ago ul > li > .temperature{
  position: absolute;
  padding: 5px;
  top: -2px;
  right: -2px;
  width: 70px;
  height: 71px;
  background-color: #e9f0ff;
  
  color: var(--color-text);
  font-size: .9rem;
  font-weight: 500;
  border-radius: 15px;
}

.days-ago ul > li:nth-child(1) > .temperature{
  background-color: var(--principal);
  color: white;
}

.days-ago ul > li > .temperature > p > span{
  position: relative;
  top: -2px;
  font-size: .65rem;
}

.place-visit {
  width: 85%;
}

.place-visit .titles {
  
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.place-visit .titles h3{
  font-size: 1.8rem;
}
.place-visit .titles > div{
  margin-top: 8px;
}

.images{
  display: flex;
  justify-content: space-between;
}

.img-izq,
.imgs-der{
  width: 45%;
  
}

.img-izq{
  display: inline-flex;
  padding: 20px;
  align-items: baseline;
  height: 220px;
  border-radius: 25px;
  box-shadow: 1px 1px 35px -15px #a7a7a7;
}

.img-izq > p,
.img-top > p,
.img-bottom > p{
  margin-left: 5px;
}

.img-izq > img,
.img-top > img,
.img-bottom > img{
  position: relative;
  top: 5px;
  width: 15px;
}

.imgs-der{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-top,
.img-bottom{
  display: inline-flex;
  align-items: baseline;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 35px -15px #a7a7a7;
}

.img-top{
  height: 30%;
}

.img-bottom{
  height: 60%;
}